* {
  margin: 0px;

}
nav div button{
  border-radius: 100px;
  background-color: 181 178 178;
  height: 30px;
  width: 150px;
  cursor: pointer;
  
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

main {
  padding-bottom: 60px;
  padding-top: 30px;
  
}

main h1{
 padding-bottom: 30px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1{
  text-align: center;
}

nav{
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 1rem;
  background-color: 	#E8C39E;
  
}

span {
	color: red;
}

nav div {
	display: flex;
	width: 20vw;
	align-items: center;
	justify-content: space-between;
  padding-left: 35rem;
}
nav div i {
    font-size: 2rem;
    cursor: pointer;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

a img{
  width: 30px;
}

footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #E8C39E;
  
}

footer div{
  margin: 0px;
  display: flex;
  justify-content: space-around;
}

footer > img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 230px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.4px solid black;
}

.card img{
  width: 200px;
}

.card:hover{
  border: 0.4px solid red;
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;

}

.bodycontact{
justify-content: space-around;
display: flex;
flex-direction: column;
align-items: center;
 height: 575px;

}

div form{
  width: 300px;
  height: 180px;
}

div form input{
  height: 30px;
  border-radius: 100px;
  cursor: pointer;
  padding-left: 10px;
}


.tamañocontacth2{
  font-size: 50px;
}

.tamañocontactp{
  font-size: 20px;
}

.cartafav{
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cartafav h1{
  padding-bottom: 50px;
}

.detail{
  padding-top: 50px;
  padding-bottom: 100px;
}

.detail h1{
  padding-bottom: 50px;
}